---
const today = new Date()
---

<footer>
  <p>
    &copy; {today.getFullYear()} videosnap
  </p>
  <div class='social-links'>
    <a href='https://twitter.com/astrodotbuild' target='_blank'>
      <span>Terms & Conditions</span>
    </a>
    <a href='https://github.com/withastro/astro' target='_blank'>
      <span>Privacy Policy</span>
    </a>
  </div>
</footer>
<style>
  p {
    margin: 0;
  }
  footer {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
